%br
.row
  = simple_form_for(@surgery) do |f|
    = f.error_notification
    .form-inputs
      %fieldset
        %legend General Details

        .row
          .large-4.columns
            = "Patient"
            - if params[:patient_name]
              %input.disabled{type: "text", disabled: "disabled", value: params[:patient_name], name: "patient"}
              = f.hidden_field :patient_id, value: params[:patient_id]
            - else
              = collection_select(:surgery, :patient_id, Patient.where(user_id: current_user), :id, :name, include_blank: "Select One")
          / .large-3.columns
          /   = "Surgeon"
          /   %input.disabled{type: "text", disabled: "disabled", value: current_user.name }
          .large-4.end.columns
            = "Hospital"
            = collection_select(:surgery, :hospital_id, Hospital.where(approved: true), :id, :name, include_blank: "Select One")
          .large-4.columns
            = "Date of Surgery"
            = f.input :date_of_surgery, as: :string, label: false, input_html: { placeholder: "dd/mm/yy", "data-date-format" => "mm/dd/yy", class: "datepicker" }
      %fieldset
        %legend Procedure Details
        .row
          .large-6.columns
            = "Patient Procedure"
            / = f.select :patient_procedure, :patient_procedure_id, options_for_select_with_attributes(PatientProcedure.all, :id, :name, { :class => :procedure_type }, PatientProcedure.find(1).procedure_type)
            / = f.select :patient_procedure, :patient_procedure_id, options_for_select_with_attributes(PatientProcedure.all.map {|procedure| [procedure.name, procedure.id, {:'procedure_type' => procedure.procedure_type}]})
            /= f.select :patient_procedure, :patient_procedure_id, PatientProcedure.all.map {|procedure| [procedure.name, procedure.id, {:'procedure_type' => procedure.procedure_type}]}
            / = collection_select(:patient_procedure, :patient_procedure_id, PatientProcedure.all, :id, :name, {}, { class: "complications" })
            %select#patient_procedure_patient_procedure_id{name: "patient_procedure[patient_procedure_id]"}
              %option{value: ""}
                Please select One
              - PatientProcedure.all.each do |procedure|
                %option{value: procedure.id, "data-procedure-type" => procedure.procedure_type} 
                  = procedure.name
          .large-3.end.columns
            = "Side"
            = f.input :side, collection: ["Right", "Left"], :include_blank => "Select One", :label => false
          .large-3.columns
            .approach.hide
              = "Total Hip Approach"
              = f.input :total_hip_approach, collection: ["Lateral", "Posterior", "Anterior"], :include_blank => "Select One", :label => false        
        .row          
          .large-4.columns
            = "Patient Position"
            = f.input :patient_position, collection: ["Lateral", "Supine"], :include_blank => "Select One", :label => false    
          .large-4.end.columns    
            = "Anasthetic Type"
            = collection_select(:anasthetic_type, :anasthetic_type_id, AnastheticType.all, :id, :anasthetic_type, include_blank: "Select One")
          
      .row
        .large-12.columns
          %fieldset
            %legend Surgery Indications
            %ul.large-block-grid-3.multicheckboxes            
              - @indications.each do |indication|
                %li
                  = check_box_tag "indications[]", indication.name
                  = indication.name
      
      %fieldset
        %legend Implant
        .row          
          / .large-3.columns
          /   = "Manufacturer"
          /   = collection_select(:manufacturer, :manufacturer_id, Manufacturer.all, :id, :name, include_blank: true)
          .large-3.columns
            = "Implant"
            / = collection_select(:implant, :implant_id, Implant.all, :id, :name, include_blank: true, class: "implant_select")

            / = f.select :implant, :implant_id, Implant.all.map {|c| [c.name, c.id, {:'data-type' => c.implant_type }]}
            %select#implant_implant_id{name: "implant[implant_id]"}
              %option{value: ""}
                Select One
              - Implant.all.each do |i|
                %option{value: i.id, "data-implant-type" => i.implant_type } 
                  = i.name
          .large-2.end.columns
            %br
            %a.button.tiny.get_sizes
              Get Sizes
        .row
          .large-12.columns
            = "Sizes"
            %table.sizes
              %thead
                %th
                  Dimension
                %th
                  Size
              %tbody
      %fieldset
        %legend
          Thromboprophylaxis
        .row          
          .large-4.columns
            = "Chemical"
            = collection_select(:chemical, :chemical_id, Chemical.all, :id, :name, include_blank: true)
          .large-4.end.columns
            = "Mechanical"
            = collection_select(:mechanical, :mechanical_id, Mechanical.all, :id, :name, include_blank: true)
            

        / .large-3.columns
        /   = "Dimensions"
        /   = collection_select(:dimension, :dimension_id, Dimension.all, :id, :dimension_type)
        / .large-3.columns
        /   = "Size"
        /   = collection_select(:implant_size, :implant_size_id, ImplantSize.all, :id, :measurement)
          
      .row
        .large-12.columns
          %fieldset
            %legend Inter-operative Complications
            %ul.large-block-grid-3.multicheckboxes#Knee.to-be-hidden
              - @knee_complications.each do |complication|
                %li
                  = check_box_tag "complications[]", complication.name
                  = complication.name
            %ul.large-block-grid-3.multicheckboxes#Hip.to-be-hidden
              - @hip_complications.each do |complication|
                %li
                  = check_box_tag "complications[]", complication.name
                  = complication.name

    .form-actions
      = f.button :submit, class: "button tiny"
