.row
  .large-12.columns
    %h5.subheader Listing surgeries

    %table
      %tr
        %th Patient
        %th Surgeon
        %th Date of surgery
        %th Hospital
        %th Side
        %th Procedure        
        %th
        %th
        %th

      - @surgeries.each do |surgery|
        %tr
          %td= surgery.patient.name if !surgery.patient.nil?
          %td= surgery.user.njr_code
          %td= surgery.date_of_surgery
          %td= surgery.hospital.name if !surgery.hospital.nil?
          %td= surgery.side
          %td= surgery.patient_procedures.first.name
          %td= link_to 'Show', surgery
          %td
            - if can? :add, Surgery
              = link_to 'Edit', edit_surgery_path(surgery)
          %td
            - if can? :delete, Surgery
              = link_to 'Destroy', surgery, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br
    - if can? :add, Surgery
      = link_to 'New Surgery', new_surgery_path, class: "button tiny"
