%h3 Users
.span8
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th Email
        %th Approved?
    %tbody
      - @hospital_admins.each do |hospital_admin|
        %tr
          %td= hospital_admin.email
          %td= hospital_admin.created_at.to_date
          %td= link_to "Approve", user_approve_path(hospital_admin), method: :post, data: { confirm: 'Are you sure?' }

      - @surgeons.each do |surgeon|
        %tr
          %td= surgeon.name
          %td= surgeon.email
          %td= link_to "Approve", user_approve_path(surgeon), method: :post, data: { confirm: 'Are you sure?' }