.row
  %h3 User
  %p
    Name: #{@user.name}
  %p
    Email: #{@user.email if @user.email}
  %p
    Phone Number: #{@user.phone_number if @user.phone_number}
  %p
    User Type: #{@user.user_type if @user.user_type}
  / = link_to 'Edit account', edit_user_path
  %br
  - if current_user == User.first
    - if !@user.approved
      = link_to 'Approve User', user_approve_path(@user), method: :post, data: { confirm: 'Are you sure?' }
    - else
      = link_to 'Unapprove User', user_approve_path(@user), method: :post, data: { confirm: 'Are you sure?' }