.about
  .row
    .large-8.columns.title
      %h4.subtitle
        About
      %p
        The National Joint Registry is a database of Hip and Knee replacements surgeries performed.
        The goal is to foster a national center for data collection and research on total hip and knee replacement with far-reaching benefits to society including reduced morbidity and mortality, improved patient safety, improved quality of care and medical decision-making, reduced medical spending, and advances in orthopaedic science and bioengineering.

        = link_to "Read More", about_path
    - if user_signed_in?
      .sidebar.large-4.columns
        %h5.subheader
          Welcome #{current_user.name}
        %ul.side-nav
          %li
            %a{href: patients_path }
              Patients
          %li
            %a{href: surgeries_path }
              Surgeries
          %li
            %a{href: destroy_user_session_path, method: :delete, "data-method" => "delete", rel: "nofollow"}
              Log out
    - else
      .large-4.columns
        %h5.subheader
          Surgeon Login
        %hr
        = simple_form_for(:user, url: user_session_path()) do |f|
          .field
            = f.input :email, required: false, autofocus: true
          .field
            = f.input :password, required: false
          .field
            = f.button :submit, "Sign in", class: "button tiny"              
            = link_to "Not registered? Sign up here", new_registration_path(:user)
.hospitals
  .row
    .large-12.columns
      %h4.subtitle
        Participating Hospitals
  .row
    .large-12.columns
      %ul.large-block-grid-2
        %li
          = image_tag "cure-kenya.png", class: "th"
        %li
          = image_tag "moi-teaching.jpg", class: "th"