.about
  .row
    .large-8.columns.title
      %h4.subtitle
        Welcome
      %p
        The Kenya National Joint registry is a registry of Total Hip and Total Knee Replacements done within the country. This registry is being launched at the Kenya Orthopaedic Associatiion Scientific Conference in June 2014.

        = link_to "Read More", about_path
    - if user_signed_in?
      .sidebar.large-4.columns
        %h5.subheader
          Welcome #{current_user.name}
        %ul.side-nav
          %li
            %a{href: patients_path }
              Patients
          %li
            %a{href: surgeries_path }
              Surgeries
          %li
            %a{href: destroy_user_session_path, method: :delete, "data-method" => "delete", rel: "nofollow"}
              Log out
    - else
      .large-4.columns
        %h5.subheader
          Surgeon Login
        %hr
        = simple_form_for(:user, url: user_session_path()) do |f|
          .field
            = f.input :email, required: false, autofocus: true
          .field
            = f.input :password, required: false
          .field
            = f.button :submit, "Sign in", class: "button tiny"              
            = link_to "Not registered? Sign up here", "#{new_registration_path(:user)}?user_type=Surgeon"
.hospitals
  .row
    .large-12.columns
      %h4.subtitle
        Participating Hospitals
  .row
    .large-12.columns
      %ul.large-block-grid-4
        %li.small
          = image_tag "cure-kenya.png", class: ""
        %li
          = image_tag "moi-teaching.png", class: ""
        %li
          = image_tag "tenwek.png", class: ""
        %li.small
          = image_tag "kijabe_hospital.png", class: ""