.about
  .row
    .large-8.columns.title
      %h4.subtitle
        About
      %p
        The National Joint Registry is a database of Hip and Knee replacements surgeries performed.
  .row
    .large-4.columns
      %h5.subheader
        Surgeon Login
      %hr
      = simple_form_for(:surgeon, url: surgeon_session_path()) do |f|
        .field
          = f.input :email, required: false, autofocus: true
        .field
          = f.input :password, required: false
        .field
          = f.button :submit, "Sign in", class: "button tiny"              
          = link_to "Not registered? Sign up here", new_registration_path(:surgeon)
