.hospitals.participating
  .row
    .large-12.columns
      %h4.subtitle
        Manufacturers
  .row
    .large-8.columns
      %p
        Would you like your equipment and implants featured in the Total Joint Registry? Registration is easy. Just fill in the form on the right and one of the administrators will verify your information and allow you to create an account.
    .large-4.columns.signup
      = simple_form_for(@manufacturer) do |f|
        = f.error_notification


        .form-inputs
          = f.input :name
          = f.input :website
          = f.input :email
          = "Logo"
          = f.file_field :logo
        .form-actions
          = f.button :submit, class: "button tiny"
