/ %h1 New hospital

/ = render 'form'

/ = link_to 'Back', hospitals_path

.hospitals.participating
  .row
    .large-12.columns
      %h4.subtitle
        Participating Hospitals
  .row
    .large-8.columns
      %p
        The following hospitals are participating in the Total Joint Registry
      %ul.large-block-grid-4
        %li.small
          = image_tag "cure-kenya.png", class: ""
        %li
          = image_tag "moi-teaching.png", class: ""
        %li
          = image_tag "tenwek.png", class: ""
        %li.small
          = image_tag "kijabe_hospital.png", class: ""
    .large-4.columns.signup
      = simple_form_for(@hospital) do |f|
        = f.error_notification


        .form-inputs
          = f.input :name
          = f.input :location
          = f.input :website
          = f.input :email
          = "Logo"
          = f.file_field :logo
        .form-actions
          = f.button :submit, class: "button tiny"

  .row
    .large-12.columns
      / %ul.large-block-grid-4
      /   %li.small
      /     = image_tag "cure-kenya.png", class: ""
      /   %li
      /     = image_tag "moi-teaching.png", class: ""
      /   %li
      /     = image_tag "tenwek.png", class: ""
      /   %li.small
      /     = image_tag "kijabe_hospital.png", class: ""