!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Joint Registry Database'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Jointregistrydatabase'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{class: "#{controller_name} #{action_name}"}  
    %header.row
      .large-12.columns.title        
        %h3.subheader
          %a{href: root_path}
            = image_tag "logo.jpg", class: "logo"
          Kenya National Joint Registry
    .main
      = render "messages"
      = yield

    %footer.row
      .large-10.columns
        Copyright &copy; #{Time.now.year} Kenya National Joint Registry. 
        %a{href: "http://www.jointregistry.co.ke"} http://www.jointregistry.co.ke

