!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Joint Registry Database'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Jointregistrydatabase'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{style: "background-color: white;"}
    %header.row
      .large-12.column
        %img.left(src = "/assets/logo.png")
      
      .row
        .large-12.column
          = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      .row
        = yield
