!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Joint Registry Database'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Jointregistrydatabase'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{class: "#{controller_name} #{action_name}"}  
    %header.row.banner
      .large-12.columns
        %h3.subheader.title
          %a{href: root_path}
            = image_tag "logo.jpg", class: "logo"
    .row.nav
      .large-12.columns
        %nav.top-bar{"data-topbar" => ""}
          %section.top-bar-section
            %ul.left
              %li
                = link_to "Home", root_path
              %li
                = link_to "About", about_path
              %li.has-dropdown
                %a{:href => "#"} Sign Up
                %ul.dropdown
                  %li
                    =link_to "Surgeons", new_registration_path(:user)
                  %li
                    =link_to "Hospital Admins"
                  %li
                    =link_to "Implant Supplier"
              %li
                = link_to "Patient Information"
              %li
                = link_to "Implant Information"
              %li
                = link_to "News"
              %li
                = link_to "Reports"
            - if user_signed_in?
              %ul.right
                %li
                  %a{href: destroy_user_session_path, method: :delete, "data-method" => "delete", rel: "nofollow"}
                    Log out

    .main
      = render "layouts/messages"
      = yield

    %footer.row
      .large-10.columns
        Copyright &copy; #{Time.now.year} Kenya National Joint Registry. 
        %a{href: "http://www.jointregistry.co.ke"} http://www.jointregistry.co.ke

