<div class="row">
	<div class="large-5 columns">
		<h4 class="subheader">Sign up</h4>

		<p>Welcome to the National Joint Registry Database. In order to join, you need to provide us the with the below details. Once your registration is received, an administrator will approve it before you can start using the NJR.</p>

		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :name, required: true, autofocus: true %>
		    <% if params[:type] != "HospitalAdmin" %>
				<%= f.input :registration_code, required: true, autofocus: true %>
			<% else %>
				<%= f.label :hospital %>				
				<%= f.collection_select(:hospital, Hospital.all, :id, :name) %>
			<% end %>
			<%= f.input :phone_number, required: true, autofocus: true %>
		    <%= f.input :email, required: true, autofocus: true %>
		    <%= f.input :password, required: true %>		    
		    <%= f.input :password_confirmation, required: true %>
		    <%= f.hidden_field :user_type, value: params[:type] %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sign up", class: "button tiny" %>
		  </div>
		<% end %>
	</div>
	<div class="large-7 columns hero">
		<%= image_tag "surgeons.jpg" %>
	</div>
</div>